/* Apps.css */

/* Styling for the App container */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333; /* Darker text color for better readability */
}

/* Styling for headings */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Styling for form inputs */
input[type="text"],
button {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for date pickers */
.react-datepicker-wrapper {
  display: inline-block;
  margin-right: 10px;
}

/* Styling for the Add Event button */
button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: #0056b3;
}

/* Styling for the calendar */
.rbc-calendar {
  width: 100%;
  height: 500px;
  margin: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #7EA16B; 
}