.center{
    width: 60%;
    margin: auto;
}

.label-and-input{
    display: flex;
    flex-direction: row;
}

.btn-inverse{
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar{
    display: grid;
    grid-template-columns: repeat(auto-fit, 12em);
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 2em 0em 1em;
    input{
        border: 1px solid rgb(89, 111, 98);
    }
    select{
        width: 100%;
        border: 1px solid rgb(89, 111, 98);
        :checked{
            background-color: rgb(126, 161, 107);
        }
    }
    button{
        background-color: rgb(126, 161, 107);
        border: 2px solid rgb(89, 111, 98);
    }
}

.page-number{
    font-weight: bold;
}

.page-number-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.card{
    padding: 1.5rem;
    border-radius: 30px;
    background-color: rgb(89, 111, 98);
    p{
        margin: 0rem;
    }
    h1{
        margin: 0.3rem 0rem 1.5rem;
    }
    &.beginner{
        background-color: rgb(126, 161, 107);
    }
    &.intermediate{
        background-color: rgb(28, 49, 68);
    }
    &.expert{
        background-color: rgb(112, 22, 30);
    }
}

.card-information{
    display: flex;
    flex-direction: column;
    margin: 2em 0em 0em;
    gap: 0.5em;
}

#card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}