#bmrcalc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #0000AA;
  text-decoration: underline;
}

.form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 550px;
  max-height: 600px; /* Set a maximum height for the form */
  overflow-y: auto;
  background-color: #7EA16B;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #0000AA;
}

.inputwrap {
  margin-bottom: 15px;
}

.inputwrap label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}

.inputwrap label input[type="radio"] {
  margin-left: 5px; /* Adjust margin as needed for spacing */
}



.inputwrap input[type="number"],
.inputwrap select {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
}

button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.resultBMR,
.resultSug,
.resultPAL {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}

.workout {
  margin-top: 20px;
}
