$primaryColor: #3498db;
$backgroundColor: #7ea16b;

.mainHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

.newGoalForm {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: $backgroundColor;
}

.formRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

label {
  flex: 1;
  margin-right: 10px;
}

input {
  flex: 3;
  padding: 5px;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  outline: none;
}

.formButton {
  background-color: $backgroundColor;
  color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.listHeader {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.editButton {
  margin-left: 10px;
  background-color: rgb(102, 160, 102);
  color: green;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton {
  margin-left: 10px;
  background-color: rgba(237, 135, 135, 0.938);
  color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}
